.AP {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 100px 100px;
}
.output {
  position: relative;
  top: 60px;
  right: 200px;
}
.buttons {
  position: relative;
  top: 150px;
  right: 200px;
}
